@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

$color-text: rgb(12, 12, 12);
$color-head: rgb(219, 78, 78);

html,
body {
	font-family: "Ubuntu", sans-serif;
	color: $color-text;
}

#render_PlanetEarth {
	text-align: center;
	margin-top: 20px;
	color: $color-head;
}

.ImgTop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nameFlagsImg {
	margin-right: 10px;
}

.render {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0;
	img {
		margin: 0 auto;
		text-align: center;
		width: 40px;
		cursor: pointer;
		transition: 0.2;
		&:hover {
			transform: scale(1.3);
		}
	}
}
